.thanks-block {
   &__content {
      flex: 0 0 480px;

      @media (max-width: $md2+px) {
         flex: initial;
      }
   }
}

.products-step {
   &__body {
      margin-top: 30px;
   }

   &__text {
      @include fonts(18px, 25.2px, 500);

      span {
         font-weight: 600;
         color: $red;
      }

      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }
}

.products {
   padding: 40px 0 120px;

   @media (max-width: $md3+px) {
      padding: 0 0 50px;
   }

   &__body {
      background: $grey5;
      border-radius: 14px;
      padding: 60px 0;

      @media (max-width: $md3+px) {
         align-items: center;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
      }
   }

   &__item {
      padding: 35px 60px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px;

      @media (max-width: $md2+px) {
         padding: 30px 30px;
      }

      @media (max-width: $md3+px) {
         flex-direction: column;
         max-width: 540px;
         padding: 30px 40px;
      }

      @media (max-width: $md4+px) {
         padding: 15px 10px;
      }
   }

   &__image {
      flex: 0 0 50%;
      position: relative;

      @media (max-width: $md3+px) {
         flex: initial;
      }

      img {
         border-radius: 4px;
         border: 1 solid $grey3;
      }
   }

   &__content {
      flex: 0 0 50%;

      @media (max-width: $md3+px) {
         flex: initial;
         margin-top: 15px;
      }
   }

   &__title {
      @include fonts(18px, 21.6px, 400);
      font-family: "Russo One", sans-serif;
      margin-bottom: 15px;
   }

   &__about {
      @include fonts(15px, 21px, 500);
      margin-bottom: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -moz-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media (max-width: $md3+px) {
         margin-bottom: 20px;
      }
   }

   &__price-wrapper {
      margin-bottom: 10px;
   }

   &__new-price {
      color: $green;
      text-transform: uppercase;
      @include fonts(16px, 21.79px, 700);
   }

   &__reg-price {
      @include fonts(16px, 19.2px, 400);
      font-family: "Russo One", sans-serif;
      color: $red;
      margin-bottom: 25px;

      @media (max-width: $md3+px) {
         margin-bottom: 15px;
      }

      span {
         margin-left: 8px;
         color: $grey2;

         @media (max-width: $md4+px) {
            display: block;
            margin-left: 0;
         }
      }
   }

   &__cost {
      @include fonts(15px, 21px, 500);

      &:not(:last-child) {
         margin-bottom: 10px;
      }

      span {
         margin-left: 8px;
         color: $red1;
      }
   }

   &__btn {
      margin-top: 30px;
      max-width: 267px;

      @media (max-width: $md3+px) {
         margin-top: 25px;
      }

      &::before {
         content: url("../img/ic_round-shopping-cart.svg");
      }
   }
}

.discount {
   position: absolute;
   top: -30px;
   left: -70px;

   @media (max-width: $md1+px) {
      width: 90px;
      height: auto;
      top: -25px;
      left: -45px;
   }
   @media (max-width: $md2+px) {
      top: -20px;
      left: -30px;
   }
   @media (max-width: 575px) {
      left: -20px;
   }
}

.green {
   color: $green;
   text-transform: uppercase;
   @include fonts(16px, 21.79px, 700);
}