.survey {
   &__content {
      flex: 0 0 480px;
   }

   &__main-title {
      @include fonts(46px, 50.6px, 400);
      color: $red;
      font-family: "Russo One", sans-serif;

      @media (max-width: $md3+px) {
         @include fonts(33px, 46px, 400);
      }
   }

   &__text-wrapper {
      margin: 30px 0;
   }

   &__text {
      @include fonts(18px, 25.2px, 500);
      color: $black;

      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }

   &__offer-date {
      color: $grey2;
      @include fonts(16px, 22.4px, 500);
   }

   &__date {
      margin-left: 8px;
      color: $black;
   }

   &__email-form {
      margin-top: 40px;
   }
}

.form {
   @media (max-width: $md3+px) {
      margin-top: 60px;
   }

   &__input-other {
      display: flex;
      flex-direction: column;

      span {
         margin-bottom: 5px;
         @include fonts(12px, 10.8px, 400);
      }

      input {
         height: 60px;
         margin-bottom: 16px;
      }
   }

   &__textarea {
      min-height: 150px;
      max-width: 460px;
      min-width: 300px;
      width: 100%;
   }

   &__text {
      color: $grey2;
      @include fonts(13px, 18.2px, 500);
   }

   &__radio-btn {
      display: flex;
      align-items: center;
      position: relative;

      &::after {
         position: absolute;
         content: "";
         border: 1px solid $black2;
         background: transparent;
         border-radius: 50%;
         width: 18px;
         height: 18px;
         left: 20px;
         top: 50%;
         transform: translateY(-50%);
      }

      span {
         margin-left: 42px;
      }
   }

   &__input {
      display: none;

      &.show {
         display: block;
      }
   }
}
.email-form-button {
   margin-top: 45px;
   max-width: 321px;
}
.question {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   width: 100%;

   @media (max-width: $md3+px) {
      flex-direction: column;
      align-items: center;
   }

   &__header {
      flex: 0 0 50%;
   }

   &__steps {
      display: inline-block;
      width: 60px;
      height: 2px;
      border-radius: 10%;
      background: $red;
      vertical-align: middle;
   }

   &__title {
      margin-top: 35px;
      max-width: 420px;
      @include fonts(36px, 43.2px, 400);
      color: $red;
      font-family: "Russo One", sans-serif;

      @media (max-width: $md3+px) {
         margin-top: 25px;
      }
   }

   &__choice-form {
      max-width: 460px;
      width: 100%;
      display: flex;
      flex-direction: column;
   }
}

.submit {
   display: flex;
   flex-direction: column;
   justify-content: center;

   &__progress {
      margin-top: 80px;
      @include fonts(18px, 25.2px, 500);
      color: $black;

      span {
         color: $grey2;
         margin-left: 8px;
      }
   }

   &__progress-bar {
      max-width: 440px;
      width: 100%;
      height: 3px;
      border-radius: 14px;

      &::-webkit-progress-bar {
         background: $grey2;
      }

      &::-webkit-progress-value {
         background: $red;
      }
   }

   &__process {
      margin-top: 62px;
   }

   &__process-item {
      display: flex;
      align-items: center;

      &:not(:last-child) {
         margin-bottom: 25px;
      }
   }

   &__process-spinner {
      position: relative;
      top: -2px;

      &.active {
         animation: preloader-rotate 2s infinite linear;

         @keyframes preloader-rotate {
            100% {
               transform: rotate(360deg);
            }
         }
      }
   }

   &__process-text {
      margin-left: 17px;
   }
}

.hide {
   color: $grey2;
}
